beautifulsoup4==4.12.3
dash==2.14.1
dash_bootstrap_components==1.5.0
dash_html_components==2.0.0
dash_mantine_components==0.12.1
fs==2.4.16
pandas==2.2.3
plotly==5.18.0
Requests==2.32.3
gunicorn==23.0.0
