body {
    background: black;
    font-size: 22px;
}

.dropdown-toggle {
    background: slategray !important;
    color: white !important;
    border: slategray;
}

th, td {
    padding: 15px;
}

.vl {
    border-left: 6px slategray;
    height: 500px;
}